.nodered/flows.json
[
  {
    "id": "f729b6ed.c8ec98",
    "type": "ui_slider",
    "z": "fdbf840f.0c5128",
    "name": "LEDs",
    "label": "LEDs",
    "group": "1583b45a.c00c4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "pepperkakehus/1/n",
    "min": 0,
    "max": "8",
    "step": 1,
    "x": 470,
    "y": 620,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "c47b910c.c01ee",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "8 LEDs",
    "topic": "pepperkakehus/1/n",
    "payload": "8",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 235.5,
    "y": 22,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "19555ba5.f80c94",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "2 LEDs",
    "topic": "pepperkakehus/1/n",
    "payload": "2",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 234.5,
    "y": 100,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "377773be.15c7bc",
    "type": "mqtt out",
    "z": "fdbf840f.0c5128",
    "name": "Pepperkakehus",
    "topic": "",
    "qos": "1",
    "retain": "",
    "broker": "cd091ac9.a44608",
    "x": 760,
    "y": 80,
    "wires": []
  },
  {
    "id": "e4c0496b.2f84f8",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "Red On",
    "topic": "pepperkakehus/1/r",
    "payload": "100",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 83.5,
    "y": 183,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "5c194b29.87ad34",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "Red Off",
    "topic": "pepperkakehus/1/r",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 241,
    "y": 184,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "b6ed4675.e9cbf8",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "Green On",
    "topic": "pepperkakehus/1/g",
    "payload": "100",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 90,
    "y": 237,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "eac5bd23.6b437",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "Green Off",
    "topic": "pepperkakehus/1/g",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 251.5,
    "y": 235,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "ef9b2e70.7687d",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "Blue On",
    "topic": "pepperkakehus/1/b",
    "payload": "100",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 79,
    "y": 285,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "5bc5b39e.cc18dc",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "Blue Off",
    "topic": "pepperkakehus/1/b",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 250.5,
    "y": 280,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "41266e31.4ba73",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "4 LEDs",
    "topic": "pepperkakehus/1/n",
    "payload": "4",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 234,
    "y": 60,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "6726150d.24977c",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "20%",
    "topic": "pepperkakehus/1/l",
    "payload": "20",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 477,
    "y": 332,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "89b46143.21ba3",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "100%",
    "topic": "pepperkakehus/1/l",
    "payload": "100",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 475,
    "y": 249,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "4fa1055b.ac4d2c",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "50%",
    "topic": "pepperkakehus/1/l",
    "payload": "50",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 477,
    "y": 290,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "eaae3446.e85448",
    "type": "inject",
    "z": "fdbf840f.0c5128",
    "name": "Off",
    "topic": "pepperkakehus/1/l",
    "payload": "0",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 478,
    "y": 369,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "c8138ec7.48d77",
    "type": "ui_slider",
    "z": "fdbf840f.0c5128",
    "name": "Red",
    "label": "Rød",
    "group": "1583b45a.c00c4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "pepperkakehus/1/r",
    "min": 0,
    "max": "100",
    "step": 1,
    "x": 470,
    "y": 460,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "a3c80955.ddcad8",
    "type": "ui_slider",
    "z": "fdbf840f.0c5128",
    "name": "Green",
    "label": "Grønn",
    "group": "1583b45a.c00c4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "pepperkakehus/1/g",
    "min": 0,
    "max": "100",
    "step": 1,
    "x": 470,
    "y": 500,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "c9233b9f.9dbab8",
    "type": "ui_slider",
    "z": "fdbf840f.0c5128",
    "name": "Blue",
    "label": "Blå",
    "group": "1583b45a.c00c4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "pepperkakehus/1/b",
    "min": 0,
    "max": "100",
    "step": 1,
    "x": 470,
    "y": 540,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "33a17796.202758",
    "type": "ui_slider",
    "z": "fdbf840f.0c5128",
    "name": "Nivå",
    "label": "Nivå",
    "group": "1583b45a.c00c4c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "pepperkakehus/1/l",
    "min": 0,
    "max": "100",
    "step": 1,
    "x": 470,
    "y": 580,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "645b6b96.b3c884",
    "type": "ui_colour_picker",
    "z": "fdbf840f.0c5128",
    "name": "",
    "label": "Farge",
    "group": "1583b45a.c00c4c",
    "format": "rgb",
    "outformat": "object",
    "showSwatch": true,
    "showPicker": true,
    "showValue": true,
    "showHue": true,
    "showAlpha": false,
    "showLightness": true,
    "dynOutput": "false",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "",
    "x": 70,
    "y": 620,
    "wires": [
      [
        "86fd6659.2214b8",
        "28850358.27e56c",
        "6ba27e2c.56419",
        "44f19be9.99e7e4"
      ]
    ]
  },
  {
    "id": "86fd6659.2214b8",
    "type": "function",
    "z": "fdbf840f.0c5128",
    "name": "Calc color",
    "func": "var r = { \n    topic: 'pepperkakehus/1/r',\n    payload: '' + Math.round(msg.payload.r / 255 * 100) \n};\nvar g = { \n    topic: 'pepperkakehus/1/g',\n    payload: '' + Math.round(msg.payload.r / 255 * 100) \n};\nvar b = { \n    topic: 'pepperkakehus/1/b',\n    payload: '' + Math.round(msg.payload.r / 255 * 100) \n};\nreturn [ r, g, b ];",
    "outputs": 1,
    "noerr": 0,
    "x": 220,
    "y": 700,
    "wires": [
      [
        "377773be.15c7bc"
      ]
    ]
  },
  {
    "id": "28850358.27e56c",
    "type": "function",
    "z": "fdbf840f.0c5128",
    "name": "",
    "func": "\nreturn {payload: msg.payload.r};",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 460,
    "wires": [
      [
        "c8138ec7.48d77"
      ]
    ]
  },
  {
    "id": "6ba27e2c.56419",
    "type": "function",
    "z": "fdbf840f.0c5128",
    "name": "",
    "func": "\nreturn {payload: msg.payload.g};",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 500,
    "wires": [
      [
        "a3c80955.ddcad8"
      ]
    ]
  },
  {
    "id": "44f19be9.99e7e4",
    "type": "function",
    "z": "fdbf840f.0c5128",
    "name": "",
    "func": "\nreturn {payload: msg.payload.b};",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 540,
    "wires": [
      [
        "c9233b9f.9dbab8"
      ]
    ]
  },
  {
    "id": "1583b45a.c00c4c",
    "type": "ui_group",
    "z": "",
    "name": "Lys",
    "tab": "b53f5551.b92918",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "cd091ac9.a44608",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "10.0.0.15",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "b53f5551.b92918",
    "type": "ui_tab",
    "z": "",
    "name": "Pepperkakehus",
    "icon": "location_city"
  }
]